{% comment %} {%for q in qs%}
  {{q.sniff_time|linebreaks}}

{%endfor%} {% endcomment %}
{{stayTime}}
{{inTime}}
{{outTime}}

<!-- 생략 -->

<input type="button" id="like" value="test">

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
  $("#like").click(function(){
    console.log('d')

    $.ajax({ // .like 버튼을 클릭하면 <새로고침> 없이 ajax로 서버와 통신하겠다.
				type: 'POST', // 데이터를 전송하는 방법을 지정
				url: "http://localhost:8000/wifi/calender/", // 통신할 url을 지정
				data: {'pick':'2019627','macAddr':'a8:2b:b9:f0:52:94',},
        success:function(res){
					console.log(res)
				},
         // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정, 없으면 알아서 판단
        // 서버측에서 전송한 Response 데이터 형식 (json)
        // {'likes_count': post.like_count, 'message': message }

    });
  })
</script>