{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Te4m_G0host Wireless Footprint[WFP]</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.jsp">Wireless Footprint v2.1.0</a>
            </div>
            <!-- /.navbar-header -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <img src="../image/logo.png" class="img-thumbnail">
                        </li>
                        <li>
                            <a href="index.jsp"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>

                        <li>
                          <a href="registration.jsp"><i class="fa fa-edit fa-fw"></i> Registration Form</a>
                        </li>

                        <li>
                            <a href="userInfoTable.jsp"><i class="fa fa-table fa-fw"></i> User Info Table</a>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-search fa-fw"></i>Search<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="timeBasedSearch.jsp">Search Form</a>
                                </li>
                                <li>
                                    <a href="userBasedSearch.jsp">Test</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">User Registeration Form</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-edit fa-fw"></i> User Information
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                        <form method="POST" class="post-form">{% csrf_token %}
                            <div class="form-group">
                            <label class="col-lg-3 control-label" for="users">User Name</label>
                            <div class="col-lg-6">
                              <input class="form-control" id="user" name="name" type="text" placeholder="유명성">
                            </div>
                            <!-- /.col-sm-6 -->
                          </div>
                          <!-- /.form-group -->
                          <div class="form-group">
                            <label class="col-lg-3 control-label" for="MAC">Device MAC</label>
                            <div class="col-lg-6">
                              <div class="input-group">
                                <input class="form-control" id="MAC" name="macAddr" type="text" placeholder="00:00:00:00:00:00">
                                <span class="input-group-btn">
                                  <button type="submit" class="btn btn-success">중복확인 <i class="fa fa-check"></i></button>
                                </span>
                              </div>
                              <!-- /.input-group -->
                              <p class="help-block">Device MAC Address can't be duplicated</p>
                            </div>
                            <!-- /.col-sm-6 -->
                          </div>
                          <!-- /.form-group -->
                          <div class="form-group">
                            <label class="col-lg-3 control-label" for="devName">Device Name</label>
                            <div class="col-lg-6">
                              <input class="form-control" id="devName" name="hardwareName" type="text" placeholder="유명성의 아이폰XS">
                              <p class="help-block">The device name can be entered freely</p>
                            </div>
                            <!-- /.col-lg-6 -->
                          </div>
                          <!-- /.form-group -->
                          <div class="col-lg-12">
                    		<div class="form-group text-center">
                        		<button type="submit" class="btn btn-success">Submit <i class="fa fa-check spaceLeft"></i></button>
                        		<button type="reset" class="btn btn-warning" onclick="location.href='{% url 'accounts:register'%}'"> Reset <i class="fa fa-times spaceLeft"></i></button>
                    		</div>
                    		<!-- /.form-group -->
                  		</div>
                  		<!-- /.col-lg-12 -->

                       </form>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/static/vendor/raphael/raphael.min.js"></script>
    <script src="/static/vendor/morrisjs/morris.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/dist/js/sb-admin-2.js"></script>

    <!-- clock js -->
    <script src="/static/js/time.js"></script>

</body>

</html>
